%ul#audioList
  %li http://files.7precisions.com/sounds/Brandz-Angeldust
  %li http://files.7precisions.com/sounds/Brandz-Nexus
  %li http://files.7precisions.com/sounds/Brandz-Pleasure
  %li http://files.7precisions.com/sounds/Brandz-SubstratumPad02
  %li http://files.7precisions.com/sounds/Brandz-Vanish
/ END: Audio List