/ BEGIN: First Loading; Please don't remove this element
#bodyLoading
#loading
 Loading
 %br/
 %img{:alt => "loading", :height => "", :src => asset_path("01/images/loading1.gif"), :width => "80"}/
/ END: First Loading